<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div *ngIf="selectedHero">
 <div>
  <h1> {{selectedHero.name}} details!</h1>
  <div><label>id : </label>{{selectedHero.id}}</div>
</div>
<div>
  <label>name : </label>
  <input [(ngModel)] = "selectedHero.name" placeholder="name">
</div> 
</div>

<div>
  <h2> My Heroes List.</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
  </ul>
</div>

